<div class="downloads widget">
    <h2 class="header">Downloads</h2>
    <div class="inside">
        <div class="section"><h4 class="subheader"><i class="fa fa-exclamation-triangle"></i> No sites found!</h4></div>
        <div class="section">
            <p>It looks like this is your first time running ECDash or, for some strange reason, you have removed all active sites.</p>
            <p>Why don't you go ahead and click on that little gear in the bottom left corner of the window to get started?</p>
        </div>
    </div>
</div>
